


<!-- <div class="col-md-12" ><label class="pull-left">{{contato.nome}}</label></div> -->

<div class="container">
	<div class="row" ><h2 class="pull-left">{{contato.nome}}</h2>	</div>

	<dir class="row">  
		<div class="col-md-4">

			
			<div class="list-group" >
			<a  class="list-group-item list-group-item-action"
			ng-repeat="especializacao in especializacoesPorPessoas | filter:criteria"
			ng-click="removerPessoaEspecializacao(especializacao)">{{especializacao.nome}}</a>
			</div>
				
		</div>

		<div class="col-md-4">

			<div class="list-group" >
			<a class="list-group-item list-group-item-action"
			ng-repeat="(key, especializacao) in paginate.result.data | filter:criteria"
			ng-click="pegarEspecializacao(key, especializacao)">{{especializacao.nome}}</a>
			</div>


				<nav aria-label="...">
					<ul class="pager">
						<li class="previous"><a href=""  ng-click="paginate.prev()">
							<span aria-hidden="true">&larr;</span> Anterior</a>
						</li>
						<li class="next">
							<a href="" ng-click="paginate.next()"> <span aria-hidden="true">&rarr;</span>
								Próximo
							</a>
						</li>
					</ul>
				</nav>
			
		</div>
	</dir>

	<div class="row"></div><br/>

	<dir class="row pull-left">
		<div class="btn-group">
						<button class="btn btn-primary" ng-click="inserirPessoaEspecializacao(especializacoesPorPessoas)">Salvar</button>
		</div>
		<div class="btn-group">
						<a class="btn btn-primary " href="#/contato">Voltar</a>

		</div>
	</div>

</div>




	