
	<div ng-init="reloadPage()">

		<div class="pull-left">
			<input class="form-control" placeholder="Pesquisar" type="text" 
			ng-model="criteria" >
		</div>
		
		<!-- <a class="btn btn-success pull-right"  href="#/contato/novo">
			<span class="glyphicon glyphicon-plus"></span></a>
		</div> -->
		<b class="pull-right">Total de {{paginate.total}} contatos na sua lista</b>
		<table class="table table-bordered" >
			<thead>
				<th>Nome</th>
				<th>Profissão</th>
				<th>Telefone</th>
				<th>Ações</th>
			</thead>
			<tbody>
				<tr ng-repeat="contato in paginate.result.data | filter:criteria">
					<td>{{contato.nome}}</td>
					<td>{{contato.profissaoDescricao}}</td>
					<td >
						<select class="btn btn-default">
						<option ng-repeat="tel in contato.telefones">{{tel.numero}}</option>
						</select>
						
					</td>

					<td>
						<a class="btn btn-primary  btn-acao"   href="#/contato/{{usuarioId}}/visualizar/{{contato.id}}"
						title="Editar Contato">
							<span class="glyphicon glyphicon-file"></span></a>

							<a class="btn btn-danger" href="javascript:func()" ng-click="removeContato(contato.id)" title="Excluir contato" >
							<span class="glyphicon glyphicon-remove"></span></a>

							<a class="btn btn-primary  btn-acao"   href="#/contato/{{contato.id}}/especializacao"  title="Adicionar Profissão">
							<span class="glyphicon glyphicon-blackboard" ></span></a>
						</a>
					</td>
				</tr>
			</tbody>

		</table>
		

		<nav aria-label="...">
			<ul class="pager">
				<li class="previous"><a href=""  ng-click="paginate.prev()">
					<span aria-hidden="true">&larr;</span> Anterior</a>
				</li>
				<li class="next">
					<a href="" ng-click="paginate.next()"> <span aria-hidden="true">&rarr;</span>
						Próximo
					</a>
				</li>
			</ul>
		</nav>


		

	
