
	<div ng-init="reloadPage">
		<div class="col-lg-6 pull-left">
			<input class="form-control" 
			placeholder="Pesquisar" 
			type="text" 
			ng-model="criteria" >
	</div>
		
		<!-- <a class="btn btn-success pull-right"  href="#/contato/novo">
			<span class="glyphicon glyphicon-plus"></span></a>
		</div> -->
		<!-- <p>Mostrando registros de {{paginate.result.from}} até {{paginate.result.to}} de um total de {{paginate.total}}</p> -->
		<table class="table table-bordered" >
			<thead>
				<th>Nome</th>
				<th>Profisão</th>
				<th>Telefone</th>
				<th>Ações</th>
			</thead>
			<tbody>
				<tr ng-repeat="contato in paginate.result.data | filter:criteria">
					<td>{{contato.nome}}</td>
					<td>{{contato.profissao}}</td>
					<td >
						<select class="btn btn-default">
						<option ng-repeat="tel in contato.telefones">{{tel.numero}}</option>
						</select>
						
					</td>

					<td>
						<a class="btn btn-primary  btn-acao"  href="#/contato/visualizar/{{contato.id}}"> 
							<span class="glyphicon glyphicon-file"></span></a>

							<a class="btn btn-danger" 
							href="javascript:func()"
							ng-click="removeContato(contato.id)" >
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			</tbody>

		</table>
		

		<nav aria-label="...">
			<ul class="pager">
				<li class="previous"><a href=""  ng-click="paginate.prev()">
					<span aria-hidden="true">&larr;</span> Anterior</a>
				</li>
				<li class="next">
					<a href="" ng-click="paginate.next()"> <span aria-hidden="true">&rarr;</span>
						Próximo
					</a>
				</li>
			</ul>
		</nav>


		

	
