<section id="content" >

	<div ng-init="reloadPage()">
	 <div class="pull-left">
			<input class="form-control" placeholder="Pesquisar" type="text" 
			ng-model="criteria" >
		</div>
		<table class="table table-bordered" >
			<thead>
				<th>Nome</th>
				<th>Profisão</th>
				<th>Telefone</th>
			</thead>
			<tbody>
				<tr ng-repeat="contato in paginate.result.data | filter:criteria">
					<td>{{contato.nome}}</td>
					<td>{{contato.profissaoDescricao}}</td>
					<td >
						<select class="btn btn-default">
						<option ng-repeat="tel in contato.telefones">{{tel.numero}}</option>
						</select>
						
					</td>
			</tbody>
		</table>
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li class="page-item">
					<a  href="" ng-click="paginate.prev()" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Anterior</span>
					</a>
				</li>
				<li class="page-item">
					<a href="" ng-click="paginate.next()" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Próximo</span>
					</a>
				</li>
			</ul>
		</nav>



		<p>Total de contatos registrado no sistema {{paginate.total}}</p>

	</section>