<!doctype html>
<html lang="en" ng-app="trapApp">
<head>
  <meta charset="utf-8">
  <title>TRAP</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="app.css" />


  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="agenda/contato/contatoModulo.js"></script>
  <script src="agenda/contato/contatoController.js"></script>
  <script src="agenda/contato/contatoServico.js"></script>
  <script src="agenda/contato/contatoListaController.js"></script>
  <script src="agenda/contato/contatoListaTodosController.js"></script>
  <script src="agenda/contato/pagination.js"></script>
  <script src="agenda/contato/contatoTelefoneFilter.js"></script>
  <script src="agenda/usuario/usuarioModulo.js"></script>
  <script src="agenda/usuario/usuarioController.js"></script>
  <script src="agenda/usuario/usuarioService.js"></script>
  <script src="agenda/usuario/usuarioServiceLocalStorage.js"></script>
  <script src="agenda/usuario/flashService.js"></script>
  <script src="agenda/login/loginModulo.js"></script>
  <script src="agenda/login/loginController.js"></script>
  <script src="agenda/login/loginService.js"></script>
  <script src="agenda/login/loginAuthenticationService.js"></script>
  <script src="agenda/navbar/navbarController.js"></script>
  <script src="agenda/profissao/profissaoModulo.js"></script>
  <script src="agenda/profissao/profissaoController.js"></script>
  <script src="agenda/profissao/profissaoServico.js"></script>  
  <script src="agenda/especializacao/especializacaoModulo.js"></script>
  <script src="agenda/especializacao/especializacaoServico.js"></script>
  <script src="agenda/especializacao/especializacaoController.js"></script>

  <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
  
</head>


<body>
  <header>

    <div class="header-limiter">
     <nav  ng-if="globals.currentUser" class="navbar "   
     ng-controller="navbarController">

     <a class="navbar-brand" >{{globals.currentUser.usuarioNome}}</a>

     <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Contato
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/contato/{{usuarioId}}">Lista contato</a></li>
            <li><a href="#/contato/{{usuarioId}}/novo">Novo contato</a></li>
            <li><a href="#/profissao">Profissão</a></li>
            <li><a href="#/listatodos">Lista Geral</a></li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav  pull-right">
        <li class="nav-item ">
          <a class="btn nav-link " ng-click="sair()">Sair</a>
        </li>
      </ul>
    </nav>
  </div>

</header>

<section class="main-content">
  <div class="container">
    <!-- <div class="col-sm-8 col-sm-offset-2"> -->
     
    <!-- </div> -->
  </div>
  <div class="card">
   <img src="/img/icec.jpg"  class="pull-left" /></br></br></br></br>
   <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
   <div ng-view></div>
 </div>
</div>
</section>

<footer>
  <div class="footer-limiter">
    <div class="footer-right">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
      <a class="footer-links">Projeto Computação Distribuida - TRAPP  </a>
      <p>Turma de Ciências da Computação © 2016</p>
    </div>
  </div>
</footer>


</body>

</html>
