<div class="col-md-6 col-md-offset-3">



    <form name="form" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <input type="text" name="username" id="username" class="form-control" ng-model="acesso.login" required  placeholder="Login" />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>

        <br/ >

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <input type="password" name="password" id="password" class="form-control" ng-model="acesso.senha" required placeholder="Senha" />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary pull-left" ng-click="login(acesso)">Entrar</button>
            <img ng-if="dataLoading" src="/img/loading.gif" />
            <a href="#/cadastrarUsuario" class="btn btn-link pull-right">Registrar</a>
        </div>
    </form>
</div>
